<app-header class="header"  [opened]="headerOpen" [class.hide]="!headerOpen" [headerType]="2"></app-header>
@if (modal.visible === true) {
  <app-modal-frame [autoplay]="true" [selectedVideo]="selectedVideo" [class]="theme == 'light' ? 'modal-frame light' : 'modal-frame'" [type]="modal.type" [close]="modal.type != 'video' && modal.type != 'bio'" (closeButtonEvent)="modal.visible = false">
  </app-modal-frame>
}
<img class="logo" routerLink="/home" src="assets/logo-circo.svg">
<main class="conteudo" style="overflow-y: hidden;">
    <div [class]="theme == 'light' ? 'content-container light' : 'content-container'">
      <app-caroussel
        class="carousel-component"
        [ngClass]="{'fade-in': loaded}"
        [style.display]="loaded ? 'block' : 'none'"
        [media]="contentMovies"
        (selectedVideo)="openModal($event.toString())"
      ></app-caroussel>
    </div>
</main>
<img class="loading" [class.fade-out]="loaded" src="/assets/simbolo-circo.svg" alt="simboloCircOs">
